@using CryptoAddressStorage.Helpers; 
<p class="alert-success">@Html.Raw(TempData[TempDataHelper.SUCCESS])</p>
<p class="alert-danger">@Html.Raw(TempData[TempDataHelper.FAILURE])</p>
<p class="alert-warning">@Html.Raw(TempData[TempDataHelper.WARNING])</p>