@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div class="text-center">
    <h1 class="display-4">crypto address storage</h1>
</div>
