@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is intended as a secure all-in-one storage for all of your public keys. Never store any private keys on this service.</p>
